@import url("style-global.css");

/* product form */
section.form {
    background-color: white;

    padding: 32px 24px;
    margin: 32px auto;

    box-shadow: 2px 2px 2px -4px rgba(60, 60, 60, .9);
    border: 1px solid #efefef;
    border-radius: 4px;

    max-width: 720px;
    width: 90%;
}

section.form .header h3 {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    text-transform: uppercase;

    font-weight: bold;
    color: var(--primary-color);

    margin-bottom: 16px;
}

form .fields {
    margin-bottom: 64px;
}

form .item {
    margin-bottom: 16px;
}

form .item > div:nth-child(1) {
    color: #777;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 8px;
}

form .item input[type="text"],
form .item input[type="number"],
form .item textarea,
form .item select {
    width: 100%;

    padding: 8px 16px;

    box-shadow: 2px 2px 2px -2px rgba(63, 63, 63, .9);

    border: 1px solid #efefef;
    border-radius: 4px;

    font-size: 12px;
}

form .item textarea {
    min-height: 150px;
}

form .item span {
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 16px;
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

form .item .radio {
    display: flex;
    justify-content: space-evenly;
}

form .item .yesOrNo {
    text-align: center;
}
/* photos upload */
form .item #photos-upload {
    position: relative;

    display: block;
    overflow: hidden;

    width: 200px;
}

form .item #photos-upload p {
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 2px -6px #333;
    background-color: var(--secondary-color);
    color: white;

    width: 100%;
    text-align: center;

    text-transform: uppercase;
    font-size: 14px;
}

form .item #photos-input {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

form .item #photos-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    width: 100%;
    margin: 8px 0;
}
form .item #photos-preview img {
    width: 100%;
    height: 150px;

    object-fit: cover;
}

#photos-preview .photo {
    position: relative;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.8);
    color: red;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;

    transition: opacity 500ms;

    opacity: 0;
}

#photos-preview .photo:hover i {
    opacity: 1;
}