@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;

    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #fd951f;
    --secondary-color: #13829b;
}

.container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

.button {
    background-color: var(--primary-color);
    color: white;

    display: block;
    margin: 16px 0;
    padding: 12px 16px;

    width: 100%;
    border-radius: 4px;

    align-self: end;

    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;

    cursor: pointer;

    transition: all 0.2s;
}

.button:hover {
    background-color: #d7780b;
}

.button.edit {
    background-color: rgb(124, 204, 124);
}

.button.delete {
    background-color: rgb(160, 155, 155);
}

.button.edit:hover {
    background-color: rgb(88, 150, 88);
}

.button.delete:hover {
    background-color: rgb(202, 91, 91);
}