@import url("style-global.css");

/*PRODUCT VIEW */
.product-single {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;

    padding: 32px 24px;
    margin: 32px auto;
    width: 90%;
    max-width: 940px;

    box-shadow: 2px 2px 2px -1px rgba(63, 63, 63, 0.9);

    border: 1px solid #efefef;
    border-radius: 4px;
}

/* product-single .gallery */
.product-single .gallery {
    width: 100%;
}

.product-single .highlight > img {
    width: 100%;
    height: 280px;

    object-position: 50% 50%;
    border: 1px solid #efefef;

    cursor: zoom-in;
}

.product-single .gallery-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
}

.product-single .gallery-preview img {
    height: 100px;
    width: 100%;

    object-fit: cover;
    opacity: 0.6;
    cursor: pointer;

    transition: 400ms;
}

.product-single .gallery-preview img:hover,
.product-single .gallery-preview img.active {
    opacity: 1;
}

/* product single info */
.product-single .info {
    display: grid;
    grid-template-rows: auto 40px 2fr 1fr;
}

.product-single .info h1 {
    font-size: 32px;
    line-height: 42px;
    color: #333;
    text-transform: uppercase;
}

.product-single .info .published {
    color: #888;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.4px;
}

/* price-buy */
.product-single .price-buy {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 8px;
    border-top: 1px solid #eee;
}

.product-single .price-buy .price {
    font-size: 24px;
    color: #333;
    font-weight: bold;

    display: flex;
    align-items: center;
}

.product-single .price-buy .price .old {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
    font-weight: normal;
    margin-left: 8px;
}

.product-single .price-buy .buy button {
    background-color: var(--secondary-color);

    font-size: 14px;
    letter-spacing: .4px;
}


